@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --foreground: var(--neutral-900);
  --logo: var(--neutral-900);
  --destructive: var(--red-700);
  --destructive-foreground: var(--neutral-0);
  --border: var(--neutral-200);
  --ring: var(--neutral-200);
}

.dark {
  --background: linear-gradient(180deg, #040918 0%, #091540 100%);
  --foreground: var(--neutral-0);
  --logo: var(--neutral-0);
  --destructive: var(--red-400);
  --destructive-foreground: var(--neutral-900);
  --border: var(--neutral-600);
  --ring: var(--neutral-900);
}

@theme inline {
  --font-primary: 'Noto Sans', sans-serif;

  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-0: var(--neutral-0);

  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-700: var(--red-700);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --tracking-1: -0.2px;
  --tracking-2: -0.3px;
  --tracking-3: -0.5px;
  --tracking-4: -1px;

  --leading-1: 100%;
  --leading-2: 120%;
  --leading-3: 140%;

  --text-xl: 2.125rem;
  --text-xl--line-height: 100%;
  --text-xl--font-weight: 700;
  --text-lg: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 140%;

  --container-6xl: 73.125rem;

  --radius-0: 0px;
  --radius-4: 0.25rem; /* 4px */
  --radius-6: 0.375rem; /* 6px */
  --radius-8: 0.5rem; /* 8px */
  --radius-10: 0.625rem; /* 10px */
  --radius-12: 0.75rem; /* 12px */
  --radius-16: 1rem; /* 16px */
  --radius-20: 1.25rem; /* 20px */
  --radius-24: 1.5rem; /* 24px */
  --radius-full: 9999px;

  --shadow-1: 0 2px 3px 0 hsl(213, 55%, 90%);
  --shadow-2: 0 1px 2px 0 hsla(217, 28%, 78%, 0.4);
}

@layer base {
  html {
    font-family: var(--font-primary);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    background-repeat: no-repeat;
    min-height: 100vh;

    /* @variant dark {
      background: var(--color-background--dark);
      color: var(--color-neutral-0);
    } */
  }
}

@utility wrapper {
  @apply max-w-6xl mx-auto mt-6 md:mt-10 px-4 sm:px-8;
}

@utility flex-center-y {
  @apply flex items-center;
}

@utility text-preset-1 {
  @apply text-xl tracking-4;
}
@utility text-preset-2 {
  @apply text-lg font-bold tracking-1 leading-2;
}
@utility text-preset-3 {
  @apply text-lg font-normal tracking-2 leading-3;
}

@utility text-preset-4 {
  @apply text-lg font-medium tracking-2 leading-3;
}
@utility text-preset-5 {
  @apply text-base font-normal tracking-3;
}
@utility text-preset-6 {
  @apply text-base font-medium tracking-3;
}
